<div class="sidebar-wrapper">
    <div class="logo">
        <a [routerLink]="['./home']" class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png" />
            </div>
            ES-Labs
        </a>
    </div>
    <ul class="nav responsive-nav">
        <!--<li *ngIf="isMobileMenu()">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i>
				<p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
              <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-globe"></i>
                    <b class="caret hidden-sm hidden-xs"></b>
                    <span class="notification hidden-sm hidden-xs">5</span>
					<p class="hidden-lg hidden-md">
						5 Notifications
						<b class="caret"></b>
					</p>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Notification 1</a></li>
                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>
              </ul>
        </li>
        <li *ngIf="isMobileMenu()">
           <a>
                <i class="fa fa-search"></i>
				<p class="hidden-lg hidden-md">Search</p>
            </a>
        </li>
        <li *ngIf="isMobileMenu()">
           <a href="">
               <p>Account</p>
            </a>
        </li>
        <li class="dropdown" *ngIf="isMobileMenu()">
              <a class="dropdown-toggle" data-toggle="dropdown">
                    <p>
    					Dropdown
    					<b class="caret"></b>
    				</p>

              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
        </li>
        <li *ngIf="isMobileMenu()">
            <a>
                <p>Log out</p>
            </a>
        </li>
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li> -->
        <!-- <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li> -->

        <li routerLinkActive="active">
            <a [routerLink]="['./home']">
                <i class="pe-7s-graph"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active">
            <a id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">
                <i class="pe-7s-news-paper"></i>
                <p>Enblock</p>
            </a>
            <ul style="margin-left :10px;margin-top: 2px;" class="nav collapse" id="submenu1" role="menu"
                aria-labelledby="btn-1">
                <li>
                    <a id="btn-submenu1" data-toggle="collapse" data-target="#childmenu1">
                        <i class="pe-7s-graph1"></i>
                        <p>ECY</p>
                    </a>
                    <ul style="margin-left :10px;margin-top: 2px;" class="nav collapse" id="childmenu1" role="menu"
                        aria-labelledby="btn-submenu1">
                        <li routerLinkActive="active">
                            <a [routerLink]="['./ecy/dashboard']">
                                <i class="pe-7s-graph2"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['./ecy/start']">
                                <i class="pe-7s-play"></i>
                                <p>Start</p>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['./ecy/troubleshoot']">
                                <i class="pe-7s-note2"></i>
                                <p>Troubleshoot</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="btn-submenu2" data-toggle="collapse" data-target="#childmenu2">
                        <i class="pe-7s-helm"></i>
                        <p>CFS</p>
                    </a>
                    <ul style="margin-left :10px;margin-top: 2px;" class="nav collapse" id="childmenu2" role="menu"
                        aria-labelledby="btn-submenu2">
                        <li routerLinkActive="active">
                            <a [routerLink]="['./cfs/dashboard']">
                                <i class="pe-7s-graph3"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['./cfs/start']">
                                <i class="pe-7s-play"></i>
                                <p>Start</p>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['./cfs/troubleshoot']">
                                <i class="pe-7s-note2"></i>
                                <p>Troubleshoot</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['./registration']">
                        <i class="pe-7s-user"></i>
                        <p>Registration</p>
                    </a>
                </li>
            </ul>
        </li>
        <li routerLinkActive="active">
            <a id="btn-2" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">
                <i class="pe-7s-id"></i>
                <p>Administration</p>
            </a>
            <ul style="margin-left :10px;margin-top: 2px;" class="nav collapse" id="submenu3" role="menu"
                aria-labelledby="btn-2">
                <li routerLinkActive="active">
                    <a [routerLink]="['./adduser']">
                        <i class="pe-7s-add-user"></i>
                        <p>Add Users</p>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['./manageusers']">
                        <i class="pe-7s-users"></i>
                        <p>Manager Users</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>