<div [hidden]="!success.isSuccess" class="alert alert-success">
  <strong>Success!</strong> {{success.message}}
</div>
<div [hidden]="!error.isError" class="alert alert-danger">
  <strong>Error!</strong> {{error.message}}
</div>
<table mat-table [dataSource]="dataSource" class="table table striped">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let user"> {{user.roleId == 2 ? 'SuperVisor' : 'User'}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Approved </th>
    <td mat-cell *matCellDef="let user"> {{user.isApproved ? 'Yes' : 'No'}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let user" (click)="$event.stopPropagation()">
      <button mat-button color="primary" (click)="toggleIsApproved(user)">
        {{user.isApproved ? 'Unapprove': 'Approve'}} Profile
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>